#include <zephyr/dt-bindings/dt-util.h>

&bootrom {
	status = "disabled";
};

&imem {
	status = "okay";
	reg = <0x0 DT_SIZE_K(64)>;
};

&dmem {
	status = "okay";
	reg = <0x80000000 DT_SIZE_K(64)>;
};

&clint {
	status = "okay";
};

&mtimer {
	status = "okay";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
};

&gpio {
	status = "okay";
	ngpios = <8>;
};

/ {
	soc {
		spi0: spi@fff80000 {
			compatible = "neorv32,spi";
			reg = <0xfff80000 0x08>; /* two 32-bit registers: CTRL + DATA */
			status = "okay";
			interrupts = <6>;
			syscon = <&sysinfo>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c0: i2c@fff90000 {
			compatible = "neorv32,twi";
			reg = <0xfff90000 0x08>; /* two 32-bit registers: CTRL + DCMD */
			status = "okay";
			interrupts = <7>;
			syscon = <&sysinfo>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};
